<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hello <%= @user.full_name %>
        Thank you for your donation for <%= link_to @wish_item.title, organization_wish_item_path(@wish_item.organization.id, @wish_item.id) %>.
        <%= @organization.name %> will be notified.
      <p>Have a great day!</p>
    </p>
  </body>
</html>