= link_to t('gift.confirm'), confirm_gift_request_path(id: gift.slug), class: 'btn btn-success', method: "post"
.pull-right
    = link_to t('gift.reject'), cancel_gift_request_path(id: gift.slug), class: 'btn btn-danger',  method: "delete"