/ - item = request.gift_item
/ - unless item.gifted?
/     - if request.present?
/ 		.col-md-2.push-left
/             = link_to t('gift.cancel'), '#', class: 'btn btn-danger cancel-gift',
/               data: { toggle: 'modal', target: '#cancel-modal' }
/             = render 'organization_donations/cancel_modal', donation: request



= link_to t('gift.confirm'), confirm_gift_request_path(id: gift.id), class: 'btn btn-success', method: "post"
.pull-right
    = link_to t('gift.reject'), cancel_gift_request_path(id: gift.id), class: 'btn btn-danger',  method: "delete"
        / data: { toggle: 'modal', target: '#cancel-organization-modal' }
    / = render 'organization_donations/cancel_organization_modal', gift: gift