/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require bootstrap_and_overrides
 *= require_directory .
 *= require bootstrap-multiselect
 
*/

/* COLORS */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
       url('../assets/glyphicons-halflings-regular.woff') format('woff'), 
       url('../assets/glyphicons-halflings-regular.ttf') format('truetype'), 
       url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@import url('http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic');

.helvetica {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
}

$violet: #AA2878;
$green: #40E246;
$white: #FFFFFF;
$dark-grey: #1C1C1C;
$facebook-blue: #315EAF;
$twitter-blue: #31B6EB;
$google-red: #F03B3B;

/* HEADER */

.margin-top-8{
  margin-top: 8px;
}
.margin-right-20{
  margin-right: 20px;
}
#header {
  
  position:fixed !important;
  z-index: 999;
  left:0px;
  top:0px;
  width: 102%;
  padding: 10px 100px 12px 30px;
  background-color: $violet;

#login-modal {

    .modal-dialog {
      width: 475px;
      margin-top: 115px;
      text-align: left;

      .modal-content {
        border-radius: 0;
        padding: 30px;

        .modal-header {
          background-color: $white;
          height: 63px;
          text-align: center;
          text-transform: uppercase;
          color: white;
          margin-bottom: 20px;

          .modal-title {
            padding: 5px;
          }
        }

        .modal-body {
          padding: 20px 40px 0 40px;
          color: gray;

          a {
            color: gray;
          }

          input[type='submit'] {
            background-color: $violet;
            border: none;
            margin-bottom: 10px;
            width: 390px;
            padding: 8px;
            color: white;
          }
        }

      }

    }
  }
  
  
  #brand {
    margin-left: 6.5%;
  }

  #header-search {

    a:hover, a:focus, a:visited {
      color: white;
    }

    input[type='search'] {
      width: 186px;
      margin-left: 30px;
    }

    input[type='image'] {
      position: relative;
      top: 13px;
      height: 34px
    }

    a {
      margin-left: 10px;
    }

  }

  #header-pills {

    margin-top: 15px;

    a {
      padding: 4px 15px;
      text-transform: uppercase;
      
    }
  }
}


/* CONTENT */
a.btn-success:visited {color: #FFFFFF}
a.btn-success:link {color: #FFFFFF}
a.btn-danger:visited {color: #FFFFFF}
a.btn-danger:link {color: #FFFFFF}

.btn-login{
  height: 35px;
  margin-right: 35px;

}


.btn-login-tw{
  height: 40px;
}

#pagination {
  margin: 0 auto;
  margin-left: 36%;
}

#header-carousel {

  img {
    height: 395px;
  }
}

#campaigns-title {
  margin: 30px 0;
  background-color: $violet;
  color: white;
  font-size: 20px;
  padding: 5px 20px;

  a {
    color: white;
  }
}

.title-photo{
background: 
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  );
background-size: cover;
height: 500px;
margin-left: -150px;
width: 119%;
margin-bottom: 30px;
-webkit-filter: blur(12px);
filter: blur(12px);
}

.slogan{
  padding-top: 150px;
  padding-left: 100px;
  color: white;
}
.call-to-action{
  padding: 20px;
  width: 275px;
}

.jumbotron {
  padding: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eeeeee;
}
.jumbotron h1,
.jumbotron .h1 {
  color: inherit;
}
.jumbotron p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}
.container .jumbotron {
  border-radius: 6px;
}
.jumbotron .container {
  max-width: 100%;
}


#slogan {
  margin: 30px 0;
  text-align: center;
  font-size: 30px;
}

#slogan-images {
  margin: 10px 0;
  text-align: center;
  font-size: 22px;
  font-weight: bold;

  img {
    width: 120px;
    height: 120px;
    margin-bottom: 15px;
  }
}

.omniauth-button {
  margin-bottom: 10px;
  padding: 8px;
  color: white;
}


.modal-backdrop.in {
  position: static !important;
}
.modal-title {
  color: grey;
}

.alert {
  position: fixed;
  z-index: 99999;
  width: 80%;
  text-align: center;
  margin-left: 5%;
  margin-top: -60px;

}
.container {
    margin-top: 45px;
}
.brand-img{
    height: 33px;
    margin-top: 8px;
}

button:hover {
  opacity: 0.75;
}

.btn-facebook {
background-color: $facebook-blue;
}
.btn-twitter {
background-color: $twitter-blue;
}
.btn-google {
background-color: $google-red;
}
.campaign-card {
  height: 450px;
}
.img-gift {
 height: 300px !important; 
 width: 350px !important; 
}
.main-text{
  position: absolute; 
  top: 190px; 
  left: 0; 
  width: 100%; 
  color: white;
  
}
.photo{
  margin-top: 20px;
  height: 150px
}