
  *, *:before, *:after {box-sizing:  border-box !important;}

.card-list{

  .row {
   -moz-column-width: 18em;
   -webkit-column-width: 25em;
   -moz-column-gap: 1em;
   -webkit-column-gap:1em; 
   text-align: center;
    
  }

  .small-row {
    -moz-column-width: 18em;
   -webkit-column-width: 18em;
   -moz-column-gap: 1em;
   -webkit-column-gap:1em; 
   text-align: center;
  }

  .wishes-row{
    -moz-column-width: 17em;
   -webkit-column-width: 18em;
   -moz-column-gap: 6em;
   -webkit-column-gap:6em; 
   text-align: center;
    margin-left: 5%;
    margin-right: 5%;
  }


  .item {
   display: inline-block;
   padding:  .25rem;
   width:  100%; 
  }

  .well-masonry {
   position:relative;
   display: block;
  }
}
