
  *, *:before, *:after {box-sizing:  border-box !important;}

.card-list{

  .row {
   -moz-column-width: 18em;
   -webkit-column-width: 25em;
   -moz-column-gap: 1em;
   -webkit-column-gap:1em; 
    
  }

  .small-row {
    -moz-column-width: 18em;
   -webkit-column-width: 18em;
   -moz-column-gap: 1em;
   -webkit-column-gap:1em; 
  }


  .item {
   display: inline-block;
   padding:  .25rem;
   width:  100%; 
  }

  .well-masonry {
   position:relative;
   display: block;
  }
}
