h3 {
	margin-top: 10px;
}

i {
	padding-right: 5px; 
}

.organization {
	height: auto;
	text-align: center;
} 

.img-wishlist {
	width: 100%;
	height: auto;
}

.btn-primary {
	color: #fff !important;
}

.description {
	margin-bottom: 30px;
}

.org-tabs {
	margin-bottom: 20px;
}

.img-organization {
	height: auto; 
    width: auto; 
    max-width: 200px; 
    max-height: 100px;
}