h3 {
	margin-top: 10px;
}

i {
	padding-right: 5px; 
}

.organization {
	height: auto;
} 

.img-wishlist {
	width: 100%;
	height: auto;
}

.btn-primary {
	color: #fff !important;
}

.description{
	height: 75px;
}