/* COLORS */

$light-violet: #BC468D;
$violet: #AA2878;
$green: #40E246;

#profile-header {
  margin: 30px 0;
  background-color: $violet;
  color: white;
  font-size: 30px;
  font-weight: bold;
  padding: 5px 20px;
  font-family: Helvetica Neue;
}

#profile-subheader {
  margin: 30px 0;
  background-color: $light-violet;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 20px;
  font-family: Helvetica Neue;
}

.main-name{
  font-size: 46px;
  font-family: Helvetica Neue;
  text-align: center;
}
.main-email{
  font-size: 16px;
  font-family: Helvetica Neue;
  text-align: center; 
  font-style: italic;
}
.profile-panel {
  border-color: $light-violet;
  .panel-heading {
    font-size: 16px;
    background-color: $light-violet;
    color: white;
    font-weight: bold;
    font-family: Helvetica Neue;
  }
}

.img-profile {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.btn-profile {
  margin-right: 7px;
}
