// Place all the styles related to the WishList controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p {
	text-align: left;
}

.img-thumbnail {
	height: auto;
	width: 150px;
}

.wishitem {
	margin-bottom: 20px;
}